.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #00ff0b;
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: cadetblue;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: system-ui;

}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

p {
  margin-bottom: 10px;
  color: #666666;
}

ul {
  list-style-type: disc;
  text-align: left;
  margin: 20px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

button {
  background-color: #ff13d0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

button:hover {
  background-color: #ff3385;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(232, 5, 5, 0.5);
  border-radius: 50%;
}

.circles {
  position: relative;
  width: 100%;
  height: 100%;
}