.nav {
    height          : 7vh;
    background-color: #282f27;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border-bottom   : 2px solid white;
}


.logo {
    width        : 67px;
    height       : 50px;
    border-radius: 50%;
    margin-left  : 1%;
}

.other {
    display        : flex;
    align-items    : center;
    margin-right   : 1%;
    width          : 30%;
    justify-content: flex-end;
}

.other div {
    margin-right: 5%;
    font-size   : 1.5rem;
    font-weight : bold;
    color       : yellow;

}

.logo-con {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    color         : yellow;
}


@media screen and (max-width: 600px) {



    h3 {
        display: none;
    }

    .logo {
        width        : 60px;
        height       : 40px;
        border-radius: 50%;
        margin-left  : 1%;
    }

    .other {

        width: 70%;
    }

    .other div {
        font-size: 16px;
    }
}



@media screen and (max-width: 1000px) {



    .logo {
        width        : 60px;
        height       : 40px;
        border-radius: 50%;
        margin-left  : 1%;
    }

    .other {

        width: 70%;
    }

    .other div {
        font-size: 25px;
    }
}