* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  font-family: system-ui;

}

.shapes {
  background-color: #282f27;
  /* margin-top: 8vh; */
  height: 93vh;
  width : 100%;
  position: relative;
}

p {
  animation: normal 2s glow infinite;
  cursor: pointer;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

img {
  width        : 30px;
  height       : 30px;
  border-radius: 50%;
}


@media screen and (max-width: 600px) {
  img {
    width        : 20px;
    height       : 20px;
    border-radius: 50%;
  }

  
}
